[submodule "webui"]
	path = webui
	url = https://github.com/eunomie/dockercoins-webui
[submodule "rng"]
	path = rng
	url = https://github.com/eunomie/dockercoins-rng
[submodule "hasher"]
	path = hasher
	url = https://github.com/eunomie/dockercoins-hasher
[submodule "worker"]
	path = worker
	url = https://github.com/eunomie/dockercoins-worker
